pkgbase = oma3dviewer
	pkgdesc = Focused GLB, glTF, FBX, and OBJ viewer built with Qt Quick 3D
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/nicopellerin/oma3dviewer
	install = oma3dviewer.install
	arch = x86_64
	license = MIT
	license = OFL-1.1
	makedepends = gcc
	makedepends = make
	depends = assimp
	depends = hicolor-icon-theme
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-quick3d
	depends = shared-mime-info
	depends = sushi
	depends = xdg-desktop-portal
	optdepends = blender: preview Blender scenes with Sushi
	conflicts = omagltf
	conflicts = omagltf-debug
	conflicts = omaviewer
	replaces = omagltf
	replaces = omagltf-debug
	replaces = omaviewer
	options = !debug

pkgname = oma3dviewer
