pkgbase = omagltf
	pkgdesc = Focused GLB, glTF, FBX, and OBJ viewer built with Qt Quick 3D
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/nicopellerin/omagltf
	install = omagltf.install
	arch = x86_64
	license = MIT
	license = OFL-1.1
	makedepends = gcc
	makedepends = make
	depends = assimp
	depends = hicolor-icon-theme
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-quick3d
	depends = shared-mime-info
	depends = sushi
	depends = xdg-desktop-portal
	optdepends = blender: preview Blender scenes with Sushi
	conflicts = omaviewer
	replaces = omaviewer
	source = omagltf-0.1.0.tar.gz::https://github.com/nicopellerin/omagltf/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = 60d4c94353517e96c14b5c74e92e959e07fdd1c346a78aa6e5ced894cb63481f

pkgname = omagltf
